# dependencies
/frontend/node_modules
/weaver/server/Build
/.pnp
.pnp.js
node_modules

# testing
/coverage

# production
/build

# data
query_cache
output

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
__pycache__
*.pyc
.ipynb_checkpoints
notebooks

npm-debug.log*
yarn-debug.log*
yarn-error.log*
